/*page wrapper */
.wrapper{
  max-width: 90%;
  margin: 0 auto;
  padding: 2% 5%;
}

/*main tag styling */
main{
  height: auto;
  
}
  
  
/*text styling */
p {
    font-family: 'Space Mono', monospace;
  }
h1 {
    font-family: 'Space Mono', monospace, bold;
    font-weight: 700;
    text-align: center;

}


/* Navigation styling */
nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: bold;
  color: #95d2e6;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 2px solid #cce5eb;
  margin-top: 30px;
  text-align: center;
}

h2 {
    color: black;
    letter-spacing: 1px;
    font-family: monospace;
    text-align: center;
    font-size: 25px;

}

h3 {
    color: black;
    font-family:monospace;
    text-align: center;
    font-size: 20px;
}

p {
  font-family: 'Space Mono', monospace;
  text-align: center;
}

img {

    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*footer styling to bring it to the bottom of the page*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

/*styling for side photos*/
.decor {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: -1;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.beach {
  width: 150px;
  margin-left: 960px;
  margin-right: auto;
  margin-top: 200px;
  display: block;
}

.woods {
  width: 150px;
  margin-left: 60px;
  margin-right: auto;
  margin-top: 200px;
  display: block;
}

.icecream {
  width: 150px;
  margin-left: 300px;
  margin-right: auto;
  margin-top: 200px;
  display: block;
}

.buko {
  width: 150px;
  margin-left: 1270px;
  margin-right: auto;
  margin-top: 200px;
  display: block;
}

.mainimage {
  height: 410px;
  width:320px;
  margin-left: 40;
  display: block;
}